.navegacaoitens:hover{
    background-color: whitesmoke;
    color: black;
    border: 6px solid black;
    
}

.headerbox :hover{
    background-color: whitesmoke;
    color: black; 
   
    
}